header.header
    .header__wrapper.wrapper
        .header__top
            .header__left
                a.header__logo.js-logo(href="/", style=`background-image:url("${require('../../images/logo.svg')}")`)
            
            .header__right
                .lang-switcher
                    button.lang-switcher__btn.lang-switcher__item#ru(
                        type='button', 
                        onclick='doGTranslate("ru|ru"); return false;'
                    ) RU
                    span.lang-switcher__separator /
                    button.lang-switcher__btn.lang-switcher__item#en(
                        type='button', 
                        onclick='doGTranslate("ru|en"); return false;'
                        ) EN
                #header-panel.header__icons
                    a.header__icons-item.icon-btn.js-favorites(href="cart.html", aria-label="Избранное")
                        svg.icon
                            use(href="/icons/icons.svg#heart")
                    a.header__icons-item.icon-btn.js-cart(href="#"
                        aria-label="Корзина"
                        data-api-link-cart="https://ss.1mcg.ru/api/cart/items"
                    )
                        cart-counter
                        svg.icon
                            use(href="/icons/icons.svg#cart")
                    button.header__icons-item.icon-btn.js-search-btn(type="button", aria-label="Поиск")
                        svg.icon
                            use(href="/icons/icons.svg#search")
                    
                        
        .header__nav.js-drop-nav
            include ./nav.pug


