header.header
    .header__wrapper.wrapper
        .header__top
            .header__left
                a.header__logo.js-logo(href="/", style=`background-image:url("${require('../../images/logo.svg')}")`)
            
            .header__right
                .lang-switcher
                    button.lang-switcher__btn(
                        type='button', 
                        onclick='doGTranslate("ru|ru"); return false;'
                    ).lang-switcher__item#ru RU
                    span.lang-switcher__separator /
                    button.lang-switcher__btn(
                        type='button', 
                        onclick='doGTranslate("ru|en"); return false;'
                        ).lang-switcher__item#en EN
                .header__icons
                    a.header__icons-item.icon-btn(href="#", aria-label="Избранное")
                        svg.icon
                            use(href="icons/icons.svg#heart")
                    a.header__icons-item.icon-btn(href="#", aria-label="Корзина")
                        svg.icon
                            use(href="icons/icons.svg#cart")
                    button.header__icons-item.icon-btn(type="button", aria-label="Поиск")
                        svg.icon
                            use(href="icons/icons.svg#search")
                        
        .header__nav
            include ./nav.pug


